#article
  color: #69677A
  #article-parent, &.blog #article-header
    font-family: 'Ubuntu'
    background: url("images/dots.png") repeat-x left center
    border-left: 10px solid #575959
    text-align: left
  #article-parent
    a
      background: #FFF
      border: none
      color: #69677A
      font-size: 15px
      font-style: normal
      padding-left: 10px
      &:hover
        color: #69677A
  #article-header
    .publishing-info
      .author, .comments, .followers-count
        display: none
    .title
      font-family: 'Ubuntu'
      font-weight: bold
      font-size: 20px
      font-variant: normal
      border-bottom: none
      background: none
  .article-body
    line-height: 1.5
    font-size: 14px
  &.blog
    #article-header
      h1.title
        background: #FFF
        display: inline
        padding: 0px 15px
      .publishing-info, .blog-feed-link
        display: none
    .blog-posts
      font-family: 'Ubuntu'
      margin-top: 0px
      .blog-post
        margin: 0px
        padding: 15px 0px
        background: none
        border-bottom: 1px solid #999
        .publishing-info
          display: none
        .title
          margin-left: 30%
          border-bottom: none
          background: none
          padding: 2px 0px
          a
            text-decoration: none
            color: #6E6E6E
            font-size: 16px
            font-variant: normal
            font-weight: bold
        .article-compact-image
          margin-top: -45px
        .article-compact-abstract-with-image
          display: none
        .read-more-link
          margin: 20px 0px 0px 20px
          display: inline-block
          background: url('images/icone-pb-leia-mais.png') no-repeat left center
          padding: 8px 0px
          text-decoration: none
          span
            padding-left: 50px
            font-size: 14px
            font-weight: bold
