#content
  .box-2
    font-family: 'Ubuntu'
    .block-outer
      .link-list-block
        border-radius: 5px
        padding: 0px
        li
          margin: 0px
          background-color: transparent
          a
            font-size: 16px
      .link-list-block, .controller-profile_design .link-list-block
        color: #696778
        border: 1px solid #696778
        .block-title
          background: #696778 url('images/icone-central-conteudo.png') no-repeat 10px
          color: #E4E5C9
          font-size: 16px
          margin: 0px
          padding: 25px 0px
          text-transform: none
          span
            margin-left: 50px
        ul
          li
            list-style: inside
            padding: 8px 15px
            a
              background: none
              color: #69677A
              padding-left: 5px
              line-height: 24px
              display: inline
              &.link-this-page
                background-color: transparent
                border: medium none
                &:hover
                  border-right: none
      &:nth-child(1) .link-list-block
        background-color: #696778
        li
          border-bottom: 1px dotted #9A9996
          padding: 20px
          list-style: outside none
          &:last-child
            border: none
          a
            background: url('images/icone-seta.png') left center no-repeat
            color: #FFF
            padding-left: 40px
            display: block
            &.link-this-page
              background-color: transparent
              border: medium none
              &:hover
                border-right: none
      &:nth-child(2) .display-content-block, .controller-profile_design &:nth-child(3) .display-content-block
        font-size: 16px
        background-color: #DAE1C4
        border: 1px solid #DAE1C4
        border-radius: 5px
        ul
          margin: 0px
          li
            margin: 0px
            .title
              background: url('images/icone-programacao.png') 10px center no-repeat
              padding: 25px 0px
              a
                margin-left: 50px
                color: #4F9CAC
                text-decoration: none
  .box-1
    .highlights-block
      font-family: 'Ubuntu Mediun'
      font-size: 18px
      height: auto
      width: 700px
      text-align: left
      .block-title
        color: #FFF
        position: absolute
        margin: 20px 0px 0px 15px
        z-index: 10
        text-transform: none
        span
          padding-left: 10px
      .highlights-container
        height: 350px !important
        border: transparent
        .highlights-image-link
          background-color: #3F3D49
          height: 350px !important
        .highlights-label
          background: transparent url('images/icone-normal-leia-mais.png') 98% center no-repeat
          color: #E4E5C9
          div
            margin: -5px 40px 0px 15px
      .highlights-block-pager
        width: 99%
        padding: 0px
        background: #3F3D49 url('images/slide-bg.png') center repeat-x
        a
          display: inline-block
          color: transparent
          width: 100px
          font-size: 1px
          margin: 0px
          padding: 10px 0px
          &.activeSlide
            background: url('images/activeslide-bg.png') center repeat-x
      .highlights-block-footer
        display: none
