.content-tab
  font-family: 'Ubuntu Mediun'
  width: 665px
  h1.live, h1.mediation
    .title, .on-air
      font-family: 'Ubuntu Mediun'
      font-weight: bold
      border-bottom: 0px
    padding: 10px 16px
    text-transform: uppercase
    width: auto
    margin: 0px 5px 0px 0px
    border-color: #565D67
    top: 1px
    background: #FFF
    line-height: normal
  &.live.show h1.live, &.mediation.hide h1.mediation
    border-bottom: 1px solid #FFF
    .on-air
      background: none
      color: #565D67
      font-size: 14px
      width: auto
      margin-right: 0px
      padding: 0px
  &.live.show h1.mediation, &.mediation.hide h1.live
    background-color: #CDCDCD
    border-bottom: 1px solid #565D67
    .title
      color: #FFF
      width: auto
      margin-bottom: 0px
  .envelope
    border: 0px
    border-top: 1px solid #565D67
    ul#live-posts
      margin: 0px
      padding: 0px
      border: 0px
      li
        border-top: 0px
        padding-top: 0px
        ul
          li.time
            width: 95px
            color: #69677A
            font-size: 13px
            font-weight: bold
            padding: 20px 0px
            background-color: #D8D8D8
          li.avatar
            margin: 10px 15px 0px 5px
            img
              height: 45px
              width: 43px
              border: 1px solid #BDBDBD
          li.message
            width: 480px
            margin-top: 10px
            .author
              margin-right: 0px
          li.mediation-bar
            display: block
            margin: 10px 0px
            padding-right: 30px
            width: 100%
