#content
  .main-block
    display: none
  .box-1 .blocks > .block-outer > .display-content-block
    width: 695px
    padding-top: 30px
    h3.block-title
      font-family: 'Ubuntu Mediun'
      font-size: 18px
      font-variant: normal
      text-transform: none
      color: #686679
      padding: 2px 0px 2px 35px
      margin-left: 30px
      border: none
      background: url('images/icone-seta.png') no-repeat left center
    ul
      li
        margin: 5px 0px
        padding: 15px
        overflow: hidden
        border-bottom: 1px solid #999
        > div
          float: left
          font-family: 'Ubuntu'
          font-size: 14px
        .image
          width: 160px
          height: 130px
          margin-right: 10px
          overflow: hidden
          a
            display: block
            img
              max-width: 160px
        .title
          color: #3F3F3F
          width: 480px
          margin: 5px 0px 30px 0px
          a
            text-decoration: none
            color: #3F3F3F
            font-size: 14px
            font-variant: normal
        .lead
          display: none
        .read_more
          background: url('images/icone-pb-leia-mais.png') no-repeat left center
          width: 480px
          padding: 8px 0px
          a
            color: #3F3F3F
            padding-left: 40px
            text-decoration: none
            text-transform: lowercase
    #read-all-link
      font-family: 'Ubuntu'
      font-size: 14px
      display: block
      text-transform: lowercase
      text-align: right
      a
        color: #3F3F3F
        border: 1px solid #3F3F3F
        border-radius: 20px
        padding: 5px 15px
        text-decoration: none
  .container-block-plugin_container-block
    .block-outer
      width: 345px
      height: 260px
      .block-title
        margin: 0px
        padding: 20px 50px
        text-transform: capitalize
      &:nth-child(1)
        margin-right: 5px
      &:nth-child(1) .display-content-block
        color: #696776
        border: 1px solid #DAE1C4
        border-radius: 5px
        .block-title
          background: #DAE1C4 url('images/icone-o-que-e.png') no-repeat 10px center
          color: #69677A
        ul
          margin: 0px
          .lead
            font-family: 'Ubuntu'
            font-size: 14px
            color: #444
            line-height: 1.5
            height: 110px
            overflow: hidden
            padding: 10px
          .read_more
            padding: 5px 0px
            margin: 20px 10px
            background: url('images/icone-pb-leia-mais.png') no-repeat left center
            a
              font-family: 'Ubuntu'
              font-weight: bold
              font-size: 14px
              padding-left: 40px
              text-transform: lowercase
              text-decoration: none
      &:nth-child(2) .video-block,
      &:nth-child(2) .video-plugin_video-block,
      &:nth-child(3) .video-block,
      &:nth-child(3) .video-plugin_video-block,
        border: 1px solid #69677A
        border-radius: 5px
        .block-title
          background: #69677A url('images/icone-video.png') no-repeat 10px center
          color: #E4E5C9
        margin: 0px
        .video-block-data
          padding: 10px 5px
          iframe
            height: 180px !important
            width: 335px !important
            border-radius: 5px
    
