@import url(../profile-base/style.css)

@font-face
  font-family: 'Ubuntu'
  font-weight: 300
  font-style: normal
  src: url('fonts/Ubuntu-R.ttf')

@font-face
  font-family: 'Ubuntu Mediun'
  font-weight: 300
  font-style: normal
  src: url('fonts/Ubuntu-M.ttf')

@font-face
  font-family: 'Ubuntu Italic'
  font-weight: 300
  font-style: italic
  src: url('fonts/Ubuntu-RI.ttf')

body
  background: #fff

#barra-brasil
  border-bottom: 1px solid #eee
  width: 100%
  z-index: 99
  div#wrapper-barra-brasil
    font-family: Arial, Helvetica, sans-serif !important
    width: 960px

#theme-header, #site-title
  display: none

#theme-header #read-all-link
  display: none

#wrap-2
  border: none
  margin: 0
  padding: 0
  #user
    display: none

@import profileheader

#boxes
  margin-top: 15px

.box-1
  margin-left: 253px

.box-2
  width: 225px

@import blocks

.profile-homepage, .controller-profile_design
  @import home
   
#content
  .main-content
    border: none
    box-shadow: none
    h1
      font-family: 'Ubuntu'
      font-variant: normal
      color: #69677A
      background: url('images/icone-seta.png') no-repeat left center
      border: none
      padding: 2px 0px 2px 30px
  .block-title
    border: none
    color: #000
    font-size: 18px
    font-variant: normal
    font-weight: normal
    margin-bottom: 30px
    text-transform: uppercase
    background: url('images/icone-seta.png') no-repeat left center
    background-size: contain
    padding: 2px 0px 2px 25px
    span
      height: 30px

#content
  @import article
  .main-block .hub
    @import communityhub
